<h4>
    <%= obj["Name"] %>
</h4>             
<p>
    <strong>Location : </strong>
    <%= obj["Location"] %><br />

</p>

<% if (obj["Region"]) { %>
    <p>
        <strong>Region : </strong>
        <%= obj["Region"] %>
    </p>
<% } %>

<% if (obj["exploitation"]) { %>
    <p>
        <strong>Exploitation : </strong>
        <%= obj["exploitation"] %>
    </p>
<% } %>
